.todoApp {
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.68);
  background-color: darkslategray;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  height: auto;
  min-height: 30rem;
  padding: 5rem;
  border-radius: 2rem;
}
