.todoApp {
      box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.68);
    background-color: darkslategray;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    height: auto;
    min-height: 30rem;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.heading{
        border: 1px solid black;
    margin: 0;
    padding: 1rem;
}
.body{
    display:flex;
    flex-grow:1;
}

.center{
    flex
}
